body {
    background-color: rgb(255, 206, 107);
}

img {
    max-width: 100%;
    height: auto;
}

.heading {
    text-align: center;
    margin: 100px;
    font-family: 'Bagel Fat One';
    font-size: 500%;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.centerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* button styling copied from:
https://getcssscan.com/css-buttons-examples
*/
button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Shadows Into Light';
  font-size: 40px;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}